.hero-title-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  margin: 2vh auto;
  justify-content: space-around;
}

img[alt*="socials"] {
  height: 25px;
  margin-right: 5px;
}
